// Write all CSS in here!!!

body {
  background-color: #0391D5;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  
}

.title {
  font-family: 'Ramabhadra', sans-serif;
  font: 34px;
  text-align: center;
  color: #EC1A15;
 
} 


.header {
  display: flex;
  align-items: center;
  height: 65px;
  color: #EC1A15;
  padding: 20px;
}

.headerImage {
  width: 180px;
  height: 180px;
}

.cardDiv {
  background-color: darkblue;
  width: 108px;
  height: 165px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}