// Write all CSS in here!!!

@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

body {
  background-color: #0391D5;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  
}



.title {
  font-family: 'Ramabhadra', sans-serif;
  font: 34px;
  color: #EC1A15;
 
} 

.header {
  
}
